
// 'Fancy' theme - boilerplate styles for all components, as seen on our demo:
@import './node_modules/react-accessible-accordion/dist/fancy-example.scss';

.chat__list {
  padding: 0;
  margin: 0;
  list-style: none;

}